# Created by https://www.gitignore.io/api/python

# setuptools
.eggs/

.idea/
UNKNOWN.egg-info/

logs/
final_report/

*.exe
*.log
*.html
*.jar

drivers/*.exe
drivers/*.jar

reports/*.html
screenshots/*.png
screenshots/*.jpg

screenshots/guest/*.png
screenshots/guest/*.jpg

screenshots/registered/*.png
screenshots/registered/*.jpg

tavern.log

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.pyc

# Unit test / coverage reports
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject


### Python Patch ###
.venv/

### Python.VirtualEnv Stack ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json


# End of https://www.gitignore.io/api/pytho
